@import "tailwindcss";
@import "./theme.css";
@import "./font.css";

* {
  font-family: "Pretendard", sans-serif;
  user-select: none;  
}

.font-playpen {
  font-family: "PlaypenSans", sans-serif;
}

.font-mulmaru {
  font-family: "Mulmaru", sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.delayed-show {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}
.animation-delay-200 {
  animation-delay: 0.2s;
}

.animation-delay-500 {
  animation-delay: 0.5s;
}

.animation-delay-700 {
  animation-delay: 0.7s;
}

.animation-delay-1000 {
  animation-delay: 1s;
}